<!DOCTYPE html>
<html>
  <head>
    <title>register_find_password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/register_find_password/styles.css" type="text/css" rel="stylesheet"/>
    <link href="" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/register_find_password/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图片 ) -->
      <div id="u100" class="ax_default _图片_">
        <img id="u100_img" class="img " src="images/monitor_index/u0.jpg"/>
        <div id="u100_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u101" class="ax_default box_1">
        <img id="u101_img" class="img " src="images/monitor_register/u17.svg"/>
        <div id="u101_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u102" class="ax_default label">
        <div id="u102_div" class=""></div>
        <div id="u102_text" class="text ">
          <p><span style="text-decoration:none;">用&nbsp; 户 名：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u103" class="ax_default text_field">
        <div id="u103_div" class=""></div>
        <input id="u103_input" type="text" value="" class="u103_input"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u104" class="ax_default label">
        <div id="u104_div" class=""></div>
        <div id="u104_text" class="text ">
          <p><span style="text-decoration:none;">重置密码</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u105" class="ax_default label">
        <div id="u105_div" class=""></div>
        <div id="u105_text" class="text ">
          <p><span style="text-decoration:none;">验 证&nbsp; 码：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u106" class="ax_default text_field">
        <div id="u106_div" class=""></div>
        <input id="u106_input" type="text" value="" class="u106_input"/>
      </div>

      <!-- Unnamed (图片 ) -->
      <div id="u107" class="ax_default _图片_">
        <img id="u107_img" class="img " src="images/monitor_register/u25.svg"/>
        <div id="u107_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u108" class="ax_default text_field">
        <div id="u108_div" class=""></div>
        <input id="u108_input" type="text" value="" class="u108_input"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u109" class="ax_default label">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
          <p><span style="text-decoration:none;">手机号码：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u110" class="ax_default link_button">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
          <p><span style="text-decoration:none;">去登录</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u111" class="ax_default primary_button">
        <div id="u111_div" class=""></div>
        <div id="u111_text" class="text ">
          <p><span style="text-decoration:none;">重置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u112" class="ax_default label">
        <div id="u112_div" class=""></div>
        <div id="u112_text" class="text ">
          <p><span style="text-decoration:none;">新&nbsp; 密&nbsp; 码：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u113" class="ax_default label">
        <div id="u113_div" class=""></div>
        <div id="u113_text" class="text ">
          <p><span style="text-decoration:none;">确认密码：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u114" class="ax_default text_field">
        <div id="u114_div" class=""></div>
        <input id="u114_input" type="text" value="" class="u114_input"/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u115" class="ax_default text_field">
        <div id="u115_div" class=""></div>
        <input id="u115_input" type="text" value="" class="u115_input"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u116" class="ax_default link_button">
        <div id="u116_div" class=""></div>
        <div id="u116_text" class="text ">
          <p><span style="text-decoration:none;">去注册</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
